<div class="cart">
  <div class="cart__title">Cart</div>
  <div *ngIf="cartItems && cartItems.length > 0; else cartEmpty">
    <app-cart-item
      (deleteBookFromCart)="onDeleteBookFromCart($event)"
      (increaseQuantity)="onIncreaseQuantity($event)"
      (decreaseQuantity)="onDecreaseQuantity($event)"
      *ngFor="let item of cartItems"
      [cartItem]="item"
    ></app-cart-item>
    <h3 class="cart__total-price">Total price: {{ totalSum }}</h3>
  </div>
</div>

<ng-template #cartEmpty>
  <p class="cart-empty">Nothing selected</p>
</ng-template>
