<div class="cart-item" appItemHover>
  <div class="cart-item__group">
    <button class="cart-item__delete-button" (click)="onDeleteBookFromCart()">X</button>
    <div class="cart-item__name">{{ cartItem.book.name }}</div>
  </div>

  <div class="cart-item-amount">
    <button class="cart-item-amount__button" [disabled]="cartItem.count === 1" (click)="onDecrementCount()">
      -
    </button>
    <div class="cart-item-amount__value">{{ cartItem.count }}</div>
    <button class="cart-item-amount__button" (click)="onIncrementCount()">+</button>
  </div>
</div>
